body{
	background:#6666cc;
}
.circle{
	position:absolute;
	border-radius:50%;
	background:#fff;
	animation:ripple 10s infinite;
	box-shadow:0px 0px 1px 0px #508fb9;
}
.small{
	width:600px;
	height:600px;
	left:-300px;
	bottom:-300px;
}
.medium{
	width:800px;
	height:800px;
	left:-400px;
	bottom:-400px;
} 
.large{
	width:1000px;
	height:1000px;
	left:-500px;
	bottom:-500px;
}
.shade1{
	opacity:0.7;
}
.shade2{
	opacity:0.5;
}
.shade3{
	opacity:0.2;
}
@keyframes ripple{
	0%{
		tranform: scale(0.8);
	}
	50%{
		tranform: scale(1.2);
	}
	100%{
		tranform: scale(0.8);
	}
}














