body{
	overflow-x:hidden;
	background-image:url(unset.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center;
	height:100vh;
}
.wrapper{
	position:relative;
	margin:0 auto;
	padding:50px 0;
	clear:both;
}
.menu-area{
	list-style:none;
	padding:0;
	margin:0;
	background:#262626;
	width:250px;
}
.menu-area li{
	position:relative;
}
.menu-area li a{
	text-align:center;
	height:36px;
	position:relative;
	border-bottom:1px solid #ddd;
	display:block;
	text-decoration:none;
	padding:12px 20px;
	color:#fff;
}
.menu-area li a strong{
	display:block;
	text-transform:uppercase;
	font-family:verdana;
	font-size:25px;
	letter-spacing:3px;
}
.menu-area li:hover > a{
	color:aqua;
}
.menu-area li ul,
.menu-area li ul li ul{
	background:#262626;
	opacity:0;
	visibility:hidden;
	transition:300ms;
	z-index:999;
	left:280px;
	top:0;
	list-style:none;
	position:absolute;
	height:auto;
	min-width:250px;
	padding:0;
	margin:0;
	
}
.menu-area li:hover > ul, .menu-area li ul li:hover > ul{
	display:block;
	opacity:1;
	visibility:visible;
	left:250px;
}
.menu-area li ul li a{
	text-transform:uppercase;
	font-family:sans-serif;
	font-size:20px;
	letter-spacing:3px;
	padding:10px;
	text-align:center;
	border:0;
	border-bottom:1px solid #ddd;
	height:auto;
}
.menu-area li ul li ul{
	left:230px;
	top:0;
	border:0;
}












