*{
	box-sizing:border-box;
}
body{margin:0;
	height:100vh;
	width:100vw;
	overflow:hidden;
	font-family:'Lato', sans-serif;
	font-weight:700;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#555;
	background:#ecf0f3;
}
.login-div{
	width:430px;
	height:700px;
	padding:60px 35px 35px 35px;
	border-radius:40px;
	background:#ecf0f3;
	box-shadow:13px 13px 20px #cbced1;
	           -13px -13px 20px #ffffff;
}
