body{
	background-image:url(winter.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.simple-form{
	text-align:center;
	margin:100px 400px;
	
}
#registration{
	width:100%;
	background-color:#051019;
	opacity:0.8;
	padding:50px 0px;
}
#button{
	width:250px;
	padding:10px;
	border-radius:5px;
	outline:0px;
}
#ph{
	width:65px;
	padding:10px;
	border-radius:5px;
}
#phone{
	width:200px;
	padding:10px;
	border-radius:5px;
	outline:0px;
}