body{
	background-image:url(image.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center;
}
.form-area{
	width:500px;
	height:450px;
	margin:60px auto 0;
	position:relative;
	background:rgba(0,0,0,0.4);
	text-align:center;
	padding:35px;
	border:4px solid #fff;
	-webkit-border-radius:70px 0 70px 0;
	-moz-border-radius:70px 0 70px 0;
	border-radius:70px 0 70px 0;
	
	
}
.form-area h2{
	margin-bottom:65px;
	color:#fff;
}
.img-area{
	width:50px;
	height:50px;
	border-radius:50%;
	background:tomato;
	position:absolute;
	top:-5%;
	left:45%;
}
.img-area img{
	width:50%;
	padding:10px;
}
input{
	width:100%;
	height:50px;
	border-radius:15px 0 15px 0;
	border:2px solid #fff;
	margin-bottom:15px;
	background-color:transparent;
	color:#fff;
}
.form-area p{
	text-align:left;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}
.btn{
	display:inline-block;
	height:40px;
	width:150px;
	line-height:40px;
	overflow:hidden;
	position:relative;
	text-align:center;
	background:tomato;
	border-radius:25px;
	color:#fff;
	text-transform:uppercase;
	margin-top:20px;
	cursor:pointer;
	text-decoration:none;
}
.btn-text{
	display:block;
	height:100%;
	position:relative;
	top:0;
	-webkit-transition:top 0.6s;
	-moz-transition:top 0.6s;
	-ms-transition:top 0.6s;
	-o-transition:top 0.6s;
	transition:top 0.6s;
	width:100%;
	
}
.btn:hover .btn-text{
	top: -100%;
}
.for-pass{
	text-decoration:none;
	display:block;
	margin-top:30px;
	font-weight:bold;
	color:#fff;
}




























