*{
	margin:0;
	padding:0;
}
.video-background{
	position:absolute;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;	
}
@media (min-aspect-ratio:16/9){
	.video-background{
		width:100%;
		height:auto;
	}
}
@media (max-aspect-ratio:16/9){
	.video-background{
		width:auto;
		height:100%;
	}
}
header{
	background:rgba(0,0,100,0.5);
	height:100vh;
}
.nav{
	background:rgba(0,0,0,.5);
	height:80px;
}
.logo{
	margin:10px 50px;
	height:60px;
}
.menu{
	float:right;
	list-style:none;
	margin:20px;
}
.menu li{
	display:inline-block;
	margin:10px 5px;
}
.menu li a{
	text-decoration:none;
	color:#fff;
	padding:5px 10px;
	font-family:sans-serif;
	letter-spacing:2px;
	border-bottom:1px solid #fff;
}
.menu li a:hover{
	background:coral;
	border-bottom:1px solid coral;
	transition:.4s;
}
.msg{
	position:relative;
	text-align:center;
	font-family:sans-serif;
	color:#fff;
	top:200px;
}
.msg h1{
	font-size:52px;
	margin:25px;
}
.btn{
	font-size:18px;
	color:#fff;
	letter-spacing:2px;
	margin:5px;
	padding:7px 28px;
	text-decoration:none;
	border:1px solid coral;
	border-radius:25px;
}
.btn1{
	background:coral;
	color:#fff;
}
.btn2:hover{
	background:coral;
	transition:.4s;
}















