body{
	margin:0;
	padding:0;
	font-family:monospace;
	overflow:hidden;
}
.sidebar{
	position:fixed;
	top:0;
	left:-250px;
	background:#26272c;
	width:250px;
	height:100%;
	transition:0.3s;
}
.pro{
	background:url(2.jpg);
	background-size:cover;
	width:150px;
	height:150px;
	border-radius:50%;
	margin:auto;
	
}
h2{
	text-align:center;
	font-size:2em;
	color:#fff;
}
ul{
	margin:0;
	padding:20px 0;
}
ul li{
	list-style:none;
}
ul li a{
	padding:10px 20px;
	color:#fff;
	display:block;
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,0.2);
	font-size:22px;
}
ul li a:hover{
	background:gray;
}
.sidebarBtn{
	position:absolute;
	top:0;
	right:-50px;
	width:50px;
	height:50px;
	box-sizing:border-box;
	cursor:pointer;
	background:#6666ff;
	border:none;
	outline:none;
}
.sidebarBtn span{
	display:block;
	width:35px;
	height:3px;
	background:#fff;
	position:absolute;
	top:24px;
	transition:0.3s;
}

.sidebarBtn span:before{
	content:'';
	width:100%;
	height:3px;
	background:#fff;
	position:absolute;
	top:-10px;
	left:0;
	transform:0.3s;
}
.sidebarBtn span:after{
	content:'';
	width:100%;
	height:3px;
	background:#fff;
	position:absolute;
	top:10px;
	left:0;
	transform:0.3s;
}
.active{
	left:0;
}
.sidebarBtn.toggle span{
	background:transparent;
}
.sidebarBtn.toggle span:before{
	top:0;
	transform:rotate(-45deg);
}
.sidebarBtn.toggle span:after{
	top:0;
	transform:rotate(45deg);
}
































































