body{
    background-image: image();
    background: ;
    background-color: ;
    background-position: ;
    background-size: ;
    background-repeat: ;
    
    border-width: ;
    border: ;
    border-bottom: ;
    border-bottom-color: ;
    border-color: ;
    border-style: ;
    border-image: ;
    border-top-color: aliceblue;
    
    margin: ;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: inherit;
    margin-top: inherit;
    
    width: ;
    max-width: none;
    min-width: ;
    
    height: ;
    background: ;
    padding: ;
    outline: ;
    outline-offset: ;
    color: ;
    text-align: ;
    text-transform: ;
    text-indent: ;
    line-height: ;
    text-decoration: ;
    word-spacing: ;
    text-shadow: ;
    font-family: ;
    font-size: ;
    font-weight: ;
    font-variant: ;
    list-style: ;
    border-collapse: ;
    max-width: ;
    bottom: ;
    left: ;
    margin-top: ;
    position: ;
    top: ;
    right: ;
    overflow: ;
    float: ;
    display: ;
    content: ;
    
    opacity: ;
    margin-top: ;
    list-style-type: ;
    box-shadow: ;
    background-repeat: ;
    background-position: ;
    border: ;
    border-radius: ;
    background-position: ;
    font-size: ;
    transform: ;
    
    transition: ;
    animation-name: ;
    animation-delay: ;
    animation-iteration-count: ;
    animation-direction: ;
    animation-fill-mode: ;
    animation-timing-function: ;
    
    align-content: ;
    grid-template: ;
    grid-gap: ;
    justify-content: ;
    
    
    
    
    
    
}